.nav-tabs {
    border: none;
    padding: 15px 0.7rem;
    margin-top: 20px;
}
.form-control{
    font-size: 2rem !important;
}
li a {
    font-size: 22px;
}
.iconss{
    font-size:18px;
    padding:10px;
}
.dropdown-menu[data-bs-popper]{
    left:100px !important;
}

.py-4{
font-size: 16px;
padding: 10px;;
}
.py-4>li{
   
    padding: 10px;;
    }
.row ul{
    list-style-type: none; 
}
.megamenu-title{
    font-size:18px;
}
.nav-tabs .active a {
    background-color: rgb(91, 201, 223) !important;    
    color:white !important; 
}
.tab-card .card-header {
    background-color: rgb(255, 255, 255);
    border-bottom: none;    
    padding: 0px;
}
.card-title{
    font-size:2rem;
}

.flex-row:hover{
    background: rgb(91, 201, 223);
    color:white;
}
u { list-style-type: none;
    padding: 0px; }
    
body {
    color: #2c2c2c;
    font-size: 14px;
    font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif;
    overflow-x: hidden;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}
.logo{
    width:40px;
}
.form-control{
    font-size: 2rem;
}
.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
 height: 80px;
    padding: 10px 50px 0px 50px;
 
}
.headder{
    display: flex;
    flex-direction: row;
}
.fas{
    font-size: 22px;
    color: black;
}

.container>.top-row {
    margin-top: 10px;
    display: flex;
    gap: 40px;
    justify-content: center;
   
}
.container>.navigation-row {
    margin-top: 10px;
    gap:10px;
    display: flex;
    flex-wrap: nowrap;
    vertical-align: middle;
    justify-content: space-between;
}
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #e8e8e899;
    border: none;
    align-items: center;
}

    .dropdown-menu{
        height:150px;
        overflow-y:auto;
        background-color: white;
        width: -webkit-fill-available;
      }
      .dropdown-item{
        font-size: 14px;
      }
      .dropdown>.btn-secondary, .dropdown>.btn-secondary:focus, .dropdown>.btn-secondary:active, .dropdown>.btn-secondary:hover{
        color:black;
        background-color:white;
        padding: 10px 20px 10px 20px;
        font-size: 14px;
      }
      .nav-tabs .nav-link.active{
      
        border:none;
      }
     .navigation-cards{
        margin-top:50px;
     }
     p{
        font-size:14px;
        font-family:Poppins;
     }
    /* tabs */

    button,
input {
    font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif;
}


.ic-fl{
    display: flex;
}
.nav-tabs>.nav-item>.nav-link {
    color: #1c1a1a;
margin: 10px;
    border-radius: 25px;
    font-size: 20px;

    line-height: 1.5;
}




.navigation-row{
    display: flex;
    flex-wrap: wrap;
    margin-top:50px ;
    gap:20px;
    justify-content: center;
}
.dropdown-menu[data-bs-popper] {
    top: 100%;
    width: 60%;

  
}
@media screen and (max-width: 780px) {
    .search,.mega-menu {
     display: none;
    }
  }
  /* */
 